<mat-spinner color="accent" *ngIf="storeLoading || catalogListLoading"></mat-spinner>
<div class="store-info-container" *ngIf="!storeLoading && !catalogListLoading">
  <div class="store-logo">
    <img src="{{ store.logo }}" />
  </div>
  <div class="store-info">
    <h1 class="store-title">{{ store.name }}</h1>
    <h3>{{ store.category }}</h3>
    <p class="store-description">{{ store.description }}</p>
    <p class="store-adress">
      <mat-icon class="store-adress-icon">location_on</mat-icon>{{ store.adress }}
    </p>
    <p class="store-phone"><mat-icon class="store-phone-icon">phone</mat-icon>{{ store.phone }}</p>
  </div>
</div>

<div class="catalog-filter" *ngIf="!storeLoading && !catalogListLoading">
  <form>
    <mat-form-field class="w-100">
      <mat-label><mat-icon>search</mat-icon>Buscar</mat-label>
      <input matInput type="text" [formControl]="catalogListFilterControl" />
    </mat-form-field>
  </form>
</div>

<div class="catalog-category" *ngFor="let catalogCategory of catalogListCategoriesFiltered">
  <h2 class="catalog-category-title">{{ catalogCategory }}</h2>
  <div class="catalog-item-list">
    <div *ngFor="let catalogItem of getCatalogListFilteredByCategory(catalogCategory)">
      <mat-card>
        <mat-card-content class="catalog-item">
          <img class="catalog-item-picture" src="{{ catalogItem.picture }}" />

          <div class="catalog-item-info">
            <h3 class="catalog-item-title">{{ catalogItem.name }}</h3>
            <h3 class="catalog-item-value">${{ catalogItem.value ? catalogItem.value.toFixed(2): 0 }}</h3>
            <small class="catalog-item-desc">
              {{ catalogItem.description }}
            </small>
          </div>

          <div>
            <form>
              <mat-form-field class="w-100">
                <mat-label>Quantidade</mat-label>
                <input
                  matInput
                  class="catalog-item-quantity-input"
                  type="number"
                  (change)="handleQuantityChanges($event, catalogItem.id)"
                  value="{{ catalogItem.quantity }}"
                  min="0"
                />
              </mat-form-field>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<button
  class="btn-checkout"
  mat-raised-button
  color="accent"
  (click)="openCheckoutModal()"
  *ngIf="!cartIsEmpty"
>
  <mat-icon>shopping_cart</mat-icon> Checkout<span id="checkout-total-value">{{
    checkoutValueOutput
  }}</span>
</button>
