.catalog-item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:1rem;

   
  
    .catalog-item {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1rem;
  
      .catalog-item-picture {
        width: 100%;
      }
  
      .catalog-item-info {
        .catalog-item-title {
          margin: 0;
        }
        .catalog-item-value {
          color: green;
        }
        .catalog-item-desc {
        }
      }
  
      .catalog-item-quantity-input{
      }
    }
    
  }
  
  .btn-checkout {
    margin: 2rem 0;
    background-color: black;
    color: white;
    width: 100%;
  }