@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .navbar {
    .nav-icon-cart {
      float: right;
    }
    .nav-icon-profile {
      float: right;
    }
  }
  small {
    color: gray;
  }
  .router-outlet {
    margin: 3rem 3rem;
    @media (max-width: 768px) {
      margin: 1rem 1rem;
    }
  }

  // DEFAULT CLASSES
  mat-icon{
    vertical-align: middle;
    // margin-right: 0.5rem;
  }

  // CUSTOM CLASSES
  .w-100 {
    width: 100%;
  }

  .hidden {
    display: none;
  }
}
