@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif ;

  h1,h2,h3,h4,h5{
    font-family: "Montserrat", sans-serif !important;
  }
}


body {
  height: 100%;
  margin: 0;

  .navbar {
    .nav-icon-cart {
      float: right;
    }
    .nav-icon-profile {
      float: right;
    }
  }
  small {
    color: gray;
  }
  .router-outlet {
    margin: 3rem 3rem;
    @media (max-width: 768px) {
      margin: 1rem 1rem;
    }
  }

  // DEFAULT CLASSES
  mat-icon {
    vertical-align: middle;
    // margin-right: 0.5rem;
  }

  // CUSTOM CLASSES
  .w-100 {
    width: 100%;
  }

  .hidden {
    display: none;
  }
}
